# Compiled files
target/
*.class

# IDE files
.idea/
*.iml
.settings/
.project
.classpath
.vscode/

# Log files
*.log

# Environment files
.env
application-local.yml

# OS files
.DS_Store
Thumbs.db

# Build files
*.jar
*.war
*.nar